.item
{
    background-color:orange;
    border:1px solid black ;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align:center;
    border-radius: 10px;
}
.flex-container1
{
    display: flex;
    background-color: rgb(204, 164, 203);
    flex-direction:column;
    align-items: flex-start;
}
/*ตำแหน่งเดิม*/
.flex-container2
{
    display: flex;
    background-color: rgb(122, 81, 121);
    flex-direction:column;
    align-items: center;
}
.flex-container3
{
    display: flex;
    background-color: rgb(122, 81, 121);
    flex-direction:column;
    align-items:flex-end;
}
.flex-container4
{
    display: flex;
    background-color: rgb(130, 144, 114);
    flex-direction:row;
    height: 50vh;
    align-items: flex-start;
}
.flex-container5
{
    display: flex;
    background-color: rgb(121, 200, 24);
    flex-direction:row;
    height: 50vh;
    align-items: stretch;
}
.flex-container6
{
    display: flex;
    background-color: rgb(19, 19, 190);
    flex-direction:row;
    align-items: center;
    height: 40vh;
}
.flex-container7
{
    display: flex;
    background-color: rgb(189, 46, 46);
    flex-direction:row;
    align-items: flex-end;
    height: 70vh;
}
.flex-container8
{
    display: flex;
    background-color: rgb(103, 123, 174);
    flex-direction:row;
    height: 50vh;
    align-items: flex-start;
}
.item-01
{
    align-self: flex-end;
}
.item-02
{
    align-self: center;
}