@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
.changepage
{
    font-family: 'K2D', sans-serif;
    font-size: 20px;
}
.head 
{
    font-family: 'Itim', cursive;
    font-size:30px;
    text-align: center;
    color:maroon ;
}